{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Waso Strategy</title>
  {% comment %} <link rel="preconnect" href="https://fonts.googleapis.com"> {% endcomment %}
        
  {% comment %} <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> {% endcomment %}
  
  {% comment %} <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet"> {% endcomment %}

  {% comment %} <link href="css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}

  {% comment %} <link href="css/bootstrap-icons.css" rel="stylesheet"> {% endcomment %}

  {% comment %} <link href="css/magnific-popup.css" rel="stylesheet"> {% endcomment %}

  {% comment %} <link href="css/tooplate-waso-strategy.css" rel="stylesheet"> {% endcomment %}
  {% comment %} <link rel="stylesheet" href="{% static 'strategy/style.css' %}"> {% endcomment %}
</head>
<body>

{% block navbar %} 

{%endblock navbar%}

</body>
</html>
