<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Contact Success Table</h2>

<table>
    <tr>
        <th>Username</th>
        <th>User Email</th>
        <th>User Message</th>
      </tr>
  <tr>
    <th>{{contact.username}}</th>
    <td>{{contact.user_email}}</td>
    <td>{{contact.user_message}}</td>
  </tr>
</table>

</body>
</html>